if SHIELD_KARMAPAD

config ZMK_KEYBOARD_NAME
    default "KarmaPad"

config ZMK_DISPLAY
    default y

config I2C
    default y

config SSD1306
    default y

config ZMK_BATTERY_REPORTING
    default y

config ZMK_SLEEP
    default y

config ZMK_IDLE_SLEEP_TIMEOUT
    default 900000

config EC11
    default y

endif
